<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <h1 class="navbar-brand" href="top"><strong>Grupo 2</strong></h1>
    {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#g2nav" aria-controls="g2nav" aria-expanded="false" aria-label="Toggle navigation">#}
        {#<span class="navbar-toggler-icon"></span>#}
        {#</button>#}
    {#<div class="collapse navbar-collapse" id="g2nav">#}
        {#<ul class="navbar-nav mr-auto">#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="#">Inicio</a>#}
                {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="#">Integrantes</a>#}
                {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="#">Documentacion</a>#}
                {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="#">Videos</a>#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
</nav>
