{% macro timeline(elements) %}
<div class="row">
    <div class="col-lg-9 mx-auto">
        <ol class="timeline">
            {% for e in elements %}
                <li class="timeline-element">
                    <h5 class="font-weight-bold dark-grey-text mb-3">{{ e.title }}</h5>
                    <p class="grey-text font-small">{{ e.type }}</p>
                    <iframe width="560" height="315" src="{{ e.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="text-muted">{{ e.description }}</p>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endmacro %}
