<section class="dark-grey-text">
    <div class="row pr-lg-5 mx-5 mb-5">
        <div class="col-md-7 mb-4">

            <div class="view">
                <img src="{{ url_for('.static', filename='img/server.jpg')}}" class="img-fluid w-75 m-auto" alt="smaple image">
            </div>

        </div>
        <div class="col-md-5 d-flex align-items-center">
            <div>

                <h3 class="font-weight-bold mb-4">Documentación</h3>

                <p>En esta sección se encuentran los documentos, pdf, docx y ppt solicitados por el profesor.</p>

                <button type="button" class="btn disabled indigo lighten-2 text-white btn-rounded mx-0">Próximamente</button>

            </div>
        </div>
    </div>

</section>
